In [1]:
import pandas as pd

In [2]:
import os
print(os.getcwd())

/home/indira/Repos/DEzoomcamp2024/Docker_sql

In [3]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

# change the type of data
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

# connection for postgres
from sqlalchemy import create_engine

# if you get error for psycopg2 then install pip install psycopg2-binary in your terminal
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# generate the schema
print(pd.io.sql.get_schema(df, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [4]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)
df = next(df_iter)
print(len(df))

100000

In [5]:
# we'll create the table
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [6]:
%time df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

CPU times: user 2.31 s, sys: 40.6 ms, total: 2.35 s
Wall time: 4.37 s

1000

In [7]:
from time import time
while True: 
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        print("No more chunks to insert. Exiting.")
        break

    try:
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
    except pd.errors.OutOfBoundsDatetime:
        print("Error converting timestamps. Skipping this chunk.")
        continue
    
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 4.978 second
inserted another chunk, took 4.992 second

/tmp/ipykernel_56118/2683833989.py:6: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 4.968 second
inserted another chunk, took 2.015 second
No more chunks to insert. Exiting.

In [8]:
# Load taxi+_zone_lookup.csv

df = pd.read_csv('taxi+_zone_lookup.csv')

# connection for postgres
from sqlalchemy import create_engine

# if you get error for psycopg2 then install pip install psycopg2-binary in your terminal
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

# generate the schema
print(pd.io.sql.get_schema(df, name='taxi+_zone_lookup', con=engine))

CREATE TABLE "taxi+_zone_lookup" (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [9]:
df = pd.read_csv('taxi+_zone_lookup.csv')
print(len(df))
# we'll create the table
df.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='append')

265

265