In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.0.3'

In [3]:
import os
print(os.getcwd())

/home/indira/Repos/DEzoomcamp2024/Docker_sql

In [4]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [5]:
# change the type of data
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [6]:
# connection for postgres
from sqlalchemy import create_engine

In [7]:
# if you get error for psycopg2 then install pip install psycopg2-binary in your terminal

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [8]:
# generate the schema
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000, dtype={'payment_type': str})

In [10]:
df = next(df_iter)

In [11]:
len(df)

100000

In [12]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [13]:
# we'll create the table
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [14]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.37 s, sys: 64.1 ms, total: 2.43 s
Wall time: 4.47 s

1000

In [15]:
from time import time

In [16]:
# If you get this error :

# /tmp/ipykernel_33424/2113580993.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
#  df = next(df_iter)

# You can du this  df = pd.read_csv('your_file.csv', dtype={'payment_type': str})

In [17]:
while True: 
    t_start = time()

    try:
        df = next(df_iter)
    except StopIteration:
        print("No more chunks to insert. Exiting.")
        break

    try:
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])
    except pd.errors.OutOfBoundsDatetime:
        print("Error converting timestamps. Skipping this chunk.")
        continue
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 4.532 second
inserted another chunk, took 4.553 second
inserted another chunk, took 4.554 second
inserted another chunk, took 4.761 second
inserted another chunk, took 5.036 second
inserted another chunk, took 5.063 second
inserted another chunk, took 4.955 second
inserted another chunk, took 5.014 second
inserted another chunk, took 4.997 second
inserted another chunk, took 4.936 second
inserted another chunk, took 5.097 second

/tmp/ipykernel_35336/936896717.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 4.963 second
inserted another chunk, took 3.218 second
No more chunks to insert. Exiting.